* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, monospace;
  color: #454545;
  margin: 0 auto;
}

.text-value {
  font-size: 24px;
  fill: #fff;
  opacity: 0.9;
}

.text-label {
  fill: #767676;
  font-size: 12px;
}

.div1 {
  height: 100vh;
}

.parent {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 8px;
}

.div1 {
  grid-column: span 4 / span 4;
  grid-row: span 6 / span 6;
  padding-top: 40px;
}

.div2 {
  padding-top: 40px;
  padding-bottom: 20px;
  grid-column: span 3 / span 3;
  grid-row: span 2 / span 2;
  grid-column-start: 5;
}

.rankings {
  padding-top: 20px;
}

.map-bg {
  fill: #ffffff;
}

.positionCard {
  margin: 4px;
}

.map-brgys {
  fill: #212830;
  stroke: white;
  stroke-width: 0.3;
}

.map-svg {
  width: 100%;
  height: 100%;
}

.chart,
.chart2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tb-councilor {
  width: 100%;
}

.tb-councilor thead th {
  font-size: 8px;
  padding: 8px 16px 12px 16px;
  text-align: right;
}

.tb-councilor thead tr {
  border-bottom: 1px solid #e6e6e6;
}

.tb-councilor tbody tr {
  line-height: 16px;
  position: relative;
  vertical-align: top;
  transform: translate(0);
  clip-path: inset(0);
}

.tb-councilor tbody tr::after {
  background: var(--background);
  position: absolute;
  height: calc(100% + 1px);
  top: 0;
  left: 0;
  width: var(--width);
  content: "";
  border-left: 8px solid var(--winnerPartyColor);
  transition: width cubic-bezier(0.5, 0.01, 0.5, 1.25) 500ms 100ms;
  pointer-events: none;
  z-index: -1;
}

.tb-councilor tbody td {
  border-top: 1px solid #e6e6e6;
  padding: 12px 0;
}

.tb-councilor tbody tr td:first-child {
  padding-left: 12px;
}

.tb-councilor tbody tr td:first-child,
.tb-councilor thead tr th:first-child {
  text-align: left;
}

.tb-councilor tbody tr td:last-child,
.tb-councilor thead tr th:last-child {
  text-align: right;
}

.popover {
  display: none;
  background: #c8c8c8;
  margin-left: 28px;
  padding: 10px;
  position: absolute;
  z-index: 1000;
  width: 200px;
  height: 100px;
}

.map-brgys:hover .popover {
  display: block;
}
