<div class="candidate" style="--color-party: <%= user.color %>">
  <div class="candidateParty">
    <span class="candidateName"><%= user.name %></span>
    <span class="party">(<%= user.party %>)</span>
  </div>

  <input type="text" />
</div>
