<div class="input-group mb-3 candidate">
  <div
    class="input-group-text candidateParty"
    style="
  --color-party: <%= user.color %>;
  <% if (user.party === 'AKSYON') { %>
    --font-weight: 600;
  <% } %>
"
  >
    <span class="candidateName"><%= user.name %></span>
    <span class="party">(<%= user.party %>)</span>
  </div>

  <input
    type="number"
    min="0"
    step="1"
    oninput="validity.valid||(value='');"
    class="form-control"
  />
</div>
