<div class="tallyCard">
  <h4><%= header %></h4>
  <div class="talliesbody">
    <% candidates.forEach(function(mayor) { %> <%-
    include('../partials/candidate', { user: mayor }) %> <% }); %>
  </div>
  <input
    type="submit"
    class="submitTally btn btn-primary"
    value="Submit Tally"
  />
</div>
