<div class="card tallyCard">
  <div class="card-body">
    <h4 class="card-title"><%= header %></h4>
    <div>
      <% candidates.forEach(function(mayor) { %> <%-
      include('../partials/candidate', { user: mayor }) %> <% }); %>
    </div>
    <input
      type="submit"
      class="submitTally btn btn-primary"
      value="Submit Tally"
    />
  </div>
</div>
