<div class="footer">
  <p class="comelecDeclaration">
    This is an independent election polling system paid by and for the use of
    Antonio "Sonny" F. Trillanes IV, Sct. Ojeda St. Quezon City
  </p>
  <p class="comelecDeclaration">
    Production data comes from COMELEC poll watchers of Antonio "Sonny" F.
    Trillanes IV, during the 12 May 2025 Mayoral Elections for Caloocan City
  </p>
  <p class="comelecDeclaration">
    Source Code written, published, and maintained by
    <a href="https://github.com/eLoyyyyy">Mr. and Mrs. Zyb Jared Valdez</a>
  </p>
  <p class="comelecDeclaration">Version 1.0, checksum 37r327hdjkwif74</p>
</div>

<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/gh/vanjs-org/van/public/van-1.5.2.nomodule.js"
></script>
